.disable-css * {
  all: unset;
  /* 'all: unset' peut être utilisé pour annuler tous les styles hérités et natifs */
}


#root {
  overflow-y: hidden;
  overflow-x: hidden;
}


.text-container-loader {
  background-color: #F0F0F3;
  width: 101vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
}




.bv-text {
  position: absolute;
  transition: opacity 0.3s ease;
  cursor: pointer;
  font-size: 16px; 
 font-weight: 100;
}

.hidden {
  opacity: 0;
}



ul {
  padding-left: 2rem;
  list-style: circle;
  margin: 0;
}

li {
  margin-top: 0.4rem;
}

.flex-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: fixed;
  margin-top: 5rem;

}

.flexsinglelogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}


.logo-desk {
  box-shadow: none;
  background: none;
}


.os {
  font-size: 10px
}


.modal {
  position: fixed;
  left: 0;
  width: 100%;
  height: 102vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  padding: 1rem;
  border-radius: 10px;
  background: #F0F0F3;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.centered-modal-p {
  text-align: center;
  padding: 1rem 2rem;
}

.center-modal-button {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.btn-modal {
  margin: 1rem;
  flex-grow: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.flex-top-down {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  height: 96%;
}

.flex-up {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.time {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
}

.flex-down {
  display: flex;
  justify-content: space-between;
}


.sub-info-sup {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
  padding-top: 2rem;
  margin-left: 2rem;
}

.flex-down-left {
  display: flex;
  border-top: 1px solid #e3e3e3;
  padding-top: 1rem;
}

.flex-down-left>button:last-child {
  margin-left: auto;
}

.container-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  min-width: -webkit-fill-available;
}

.left-down {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  background-color: rgba(234, 236, 231, 0.1);

}

.active {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10) inset;
}


.footer-img {
  margin-right: 0.5rem;
}

.footer-img-cross:hover {
  cursor: pointer;
}


.window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  resize: both;
  box-shadow: rgba(174, 174, 192, 0.4) 1.5px 1.5px 3px 0px, rgb(255, 255, 255) -1px -1px 3px 0px;
  padding: 1rem;
  border-radius: 5px;
  background: rgba(234, 236, 231, 0.1);
  backdrop-filter: blur(10px);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.window::-webkit-scrollbar {
  display: none;
}

.flex-window-title:hover {
  cursor: grab;
}

.flex-window-title {
  display: flex;
  padding-bottom: 0px;
  justify-content: left;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 0.5rem;
}

.flex-window-body {
  padding-top: 0.8rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.flex-window-body::-webkit-scrollbar {
  display: none;
}

.windowh2 {
  font-size: 16px;
  text-align: left;
  flex: 1 0 0;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: rgba(234, 236, 231, 0.2);
  backdrop-filter: blur(3px);
  opacity: 0.8;
  background-size: 13px 13px;
  background-image: repeating-linear-gradient(-45deg, #000000 0, #000000 1px, rgba(234, 236, 231, 0.2) 0, #F0F0F3 50%);
  cursor: nwse-resize;
}

.flex-window-body {
  width: -webkit-fill-available;
}

.flex-window-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}


.flex-settings-content {
  width: -webkit-fill-available;
}


select {
  width: -webkit-fill-available;
  font-family: SF Pro Display, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  border: none;
  background: rgba(234, 236, 231, 0.1);
  backdrop-filter: blur(10px);
}



.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Le slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10) inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 3px;
  background-color: #efeff1;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  border-radius: 12px;
  background: var(--nue-white-2, #EEE);
  box-shadow: 1px 1px 2px 0px rgba(174, 174, 192, 0.20) inset, -1px -1px 1px 0px rgba(255, 255, 255, 0.70) inset;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ffffff;
  border-radius: 12px;
  background: var(--nue-white-2, #EEE);
  box-shadow: 1px 1px 2px 0px rgba(174, 174, 192, 0.20) inset, -1px -1px 1px 0px rgba(255, 255, 255, 0.70) inset;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  box-shadow: 2.179px 2.179px 6.537px 0px rgba(174, 174, 192, 0.40), -2.179px -2.179px 6.537px 0px #FFF;
}

.switch {
  margin-right: 0.2rem;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-settings {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
}

.setting-p {
  margin-left: 0.3rem;
}

.default-link {
  box-shadow: none;
  background: none;
  padding: 0!important;
}



.nocss {
  display: inline-block;
  font-family: Times, "Times New Roman", serif;
  color: black;
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.content-nocss {
  width: fit-content;
  margin-top: 5rem;
  margin-left: 15rem;
}

.nocss a {
  font-family: Times, "Times New Roman", serif;
  background: none;
  all: unset;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  color: #0000EE;
}

.nocss h1 {
  font-size: 2.2rem;
}

.nocss h2 {
  display: inline-block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.nocss p {
  line-height: 1.4;
  font-size: 16px;
}

.nocss div {
  margin-bottom: 1em;
}

.sub-p {
  font-size: 10px;
  font-weight: 200;
  margin-top: 0.4em;
}

.sub-info-sub{
  display: flex;
  justify-content: end;
}

.sub-p-down{
  font-size: 10px;
    font-weight: 200;
    margin-top: 0.5rem;
}

.sub-p-down{
  opacity: 30%;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
}

.sub-p-down:hover{
  opacity: 100%;
}



@media (max-width: 768px) {

  li{
    margin-bottom: 0.5rem;
  }

  a {
    padding: 5px 15px 6px 15px!important; 
  }

  .modal-content {
    width: 85vw;
  }

  .footer-img {
    display: none;
  }

  .left-down {
    padding: 5px 15px 6px 15px;
    font-size: 12px;
  }

  .window {
    height: auto !important;
  }

  .time {
    font-size: 12px;
  }

  .btn-modal {
    padding: 4px 15px 5px 15px;
    font-size: 12px;
  }

  .sub-info-sup{
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding: 0;
  }


.sub-p-down{
  padding-right: 0.5rem;
}

}