@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Light.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: SF Pro Display, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app{
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

a {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
  border-radius: 20px;
  background: var(--nue-white-1, #F0F0F3);
  box-shadow: 1.5px 1.5px 3px 0px rgba(174, 174, 192, 0.40), -1px -1px 3px 0px #FFF;
  padding: 4px 20px 5px 20px;
}

.info-sup{
  padding: 1rem;
}

button {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-decoration: inherit;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  background: #F0F0F3;

/* neuphormism */
  box-shadow: 2.179px 2.179px 6.537px 0px rgba(174, 174, 192, 0.40), -2.179px -2.179px 6.537px 0px #FFF;
  padding: 4px 20px 5px 20px;
  border-radius: 20px;
} 

.active-link {
  border-radius: 20px;
  background: #F0F0F3;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10) inset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #F0F0F3;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  margin:0
}

h3 {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  color: #c3c3c3;
}

p{
  margin:0;
text-align: left;
text-overflow: ellipsis;
line-height: 1.3rem;

}


@media (prefers-color-scheme: light) {
  :root {
    color: #ececec;
    background-color: #ededed;
  }

}

